body{
    font-family: "roboto",sans-serif;
}

*{
    margin :0;
    padding : 0;
    list-style:none;
    text-decoration:none;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
    left: 0;
    width: 250px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    line-height: 65px;
    font-size: 20px; 
    width: 100%;
    padding-left:40px;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;

}

ul li:hover a{
   padding-left: 50px; 
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ section{
   margin-left: 250px; 
}
section{
   background: url(nike5.jpg) no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
   transition: all .5s;
}
section{
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: Algerian;
    padding: 80px 0px;
    text-decoration:none;
}
.social{
    position: fixed;
    top: 50%;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(290px, 0);
}

.social a{
    color: #fff;
    background: rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: 600;
    text-decoration:none;
    display: block;
    margin:5px;
    padding: 20px;
    width:300px;
    text-align: left;
    border-radius:50px;
    transition: ls;
    transition-property: transform;
}

.social a:hover{
    transform: translate(-140px,0px);
}

.social i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.social a:nth-child(1) i{
    color: #1da0f0;
}

.social a:nth-child(2) i{
    color: #4ecce8;
}
.social a:nth-child(3) i{
    color: transparent;
    background-image: linear-gradient(45deg, #ffdf9e,#e56969, #8a49a1);
    -webkit-background-clip: text;
    font-weight: 600;
}
.social a:nth-child(4) i{
    color:#f80000 ;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

input{
   border: 3px solid  #4ecce8;
   height: 40px;
   width: 300px;
   border-radius: 50px;
   padding: 0px 10px;
}

.icon{
    top: 50%;
    margin-left:300px;
    height: 30px;
    margin-bottom: 50px;
    transform: translate(-100%, -100%);
}

